{{> nav }}
<div class="container">
    <h1>About</h1>
    <p>Plecco is a social streaming video service. It allows users to create and join chat rooms that enable real-time video viewing. Patrons of a room take turns "VJing" their favorite youtube videos which are seen by all users in the room.</p>
    <p>Play videos. Chill with friends. Comment in real-time. Have fun.</p>
    <p>If you have any problems, encounter any bugs, or just want to get in touch; please use the Feedback tab liberally.</p>
    <p>Plecco, Play it Loud. Let it Echo.</p>
</div>
{{> footer }}