<header class="top-ribbon">
	<h1><a href="/">Plecco</a></h1>
	<nav>
		<ul>
			<li><a href="/lobby">Lobby</a></li>
			<li><a href="/account">My Account</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
	</nav>
</header>