{{> nav }}
<div class="container">
    <h1>Recover Password</h1>
    {{#if message }}
        <p>{{ message }}</p>
    {{ else }}
        {{#if error }}
            <p>{{ error }}</p>
        {{/if }}
        <div class="login">
            <form class="form" id="edit" action="" method="POST">
                <input type="hidden" id="csrf_token" name="_csrf" value="{{ csrf_token }}">
                <fieldset>
                    <div>
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" placeholder="email" value="">
                    </div>
                    <div>
                        <button class="btn-submit">Recover</button>
                    </div>
                </fieldset>
            </form>
        </div>
    {{/if }}
</div>
{{> footer }}