{{> nav }}
<div class="container">
    <h1>Reset Password</h1>
    {{#if message }}
        <p>{{ message }}</p>
    {{ else }}
        <div class="login">
            <form class="form" id="edit" action="/reset/password" method="POST">
                <input type="hidden" id="csrf_token" name="_csrf" value="{{ csrf_token }}">
                <input type="hidden" id="token" name="token" value="{{ token }}"
                <fieldset>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="password" value="">
                    </div>
                    <div>
                        <label for="confirm_pass">Confirm Password</label>
                        <input type="password" name="confirm_password" id="confirm_password" placeholder="password again" value="">
                    <div>
                    <div>
                        <button class="btn-submit">Reset</button>
                    </div>
                </fieldset>
            </form>
        </div>
    {{/if }}
</div>
{{> footer }}

<script src="/static/script/libs/jquery.min.js"></script>
<script>
$('form').submit(function() {
    var passwordField = $('#password'),
        password = passwordField.val(),
        confirm_password = $('#confirm_password').val(),
        valid = true;

    if (password.length < 6) {
        alert('Your password must be at least 6 characters.');
        passwordField.focus();
        valid = false;
    }
    if (password !== confirm_password) {
        alert('Your passwords do not match.');
        passwordField.focus();
        valid = false;
    }

    return valid;
});
</script>